@charset "UTF-8";

/* 메인 설정 */
.logo {
    display: inline-block;
    top: 5%;
    left: 3%;
    z-index: 10;
    font-family: "Rampart One", sans-serif;
    color: white;
    font-size: 2rem;
}

#consert {
    background: url(../img/01_index/main_con.jpg) no-repeat center bottom;
    background-size: cover;
    width: 100%;
    height: 100vh;
    transition: all 0.5s;
}

#festival {
    background: url(../img/01_index/main_fes.jpg) no-repeat center bottom;
    width: 100%;
    height: 100vh;
    overflow:hidden;
}

.into_button {
    top: 45%;
    color: #ffffff;
}
#consert>.into_button {left: 60%;}
#festival>.into_button {left: 10%;}

#consert:hover {
    background-size: 200%;
}


.c_btn, .f_btn {
    display: block;
    width: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    color: white;
    text-align: center;
    margin-top: 10px;  
}
.c_btn {
    float: right;
    background-color: black;
}

.c_btn:hover {
    background-color: white;
    outline: solid 2px black;
    color: black;
    font-weight: bold;
    transition: all 0.3s;
}
.f_btn {
    background-color: #FF8A00;
    float: left;
}

.f_btn:hover {
    background-color: white;
    outline: solid 2px #FF8A00;
    color: #FF8A00;
    font-weight: bold;
    transition: all 0.2s;
}

.wrap_black {
    background-color: rgba(0, 0, 0, 0.5);
    width: 50vw;
    height: 100vh;
}


