<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/bfdc62a914.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../css/00_etc.css"/>
    <link rel="stylesheet" href="../../css/03_consert.css"/>
    <title>チケッモン</title>
</head>
<body>
<div class="container-fluid">
    <div class="category_wrap">
        <ul class="d-flex justify-content-between category_list">
            <li>
                <a href="#" class="cate_01">
                    <p><i class="fa-solid fa-music"></i></p>
                    <span>J-POP</span>
                </a>
            </li>
            <li>
                <a href="#" class="cate_02">
                    <p><i class="fa-solid fa-plane"></i></p>
                    <span>洋楽</span>
                </a>
            </li>
            <li>
                <a href="#" class="cate_03">
                    <p><i class="fa-solid fa-drum"></i></p>
                    <span>バンド</span>
                </a>
            </li>
            <li>
                <a href="#" class="cate_04">
                    <p><i class="fa-solid fa-hand-spock"></i></p>
                    <span>ロック</span>
                </a>
            </li>
            <li>
                <a href="#" class="cate_05">
                    <p><i class="fa-solid fa-robot"></i></p>
                    <span>バーチャル</span>
                </a>
            </li>
            <li>
                <a href="#" class="cate_06">
                    <p><i class="fa-solid fa-heart-pulse"></i></p>
                    <span>フェス</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>