<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/bfdc62a914.js" crossorigin="anonymous"></script>
    <title>consert_main</title>
    <style>
        * {
          margin: 0 auto;
          padding: 0;
          box-sizing: border-box;  
        }
        a {text-decoration: none;}
        ul, ol {
          list-style: none;
        }

       .bir_yy, .bir_mm, .bir_dd {
          display: table-cell;
          width: calc(100%/3);
       }
       .bir_mm+.bir_dd, .bir_yy+.bir_mm{
        padding-left: 10px;
       }

       .phone_01, .phone_02, .phone_03 {
          display: table-cell;
          width: calc(100%/3);
       }
       .phone_02+.phone_03, .phone_01+.phone_02{
        padding-left: 10px;
       }
    </style>
</head>
<body>
  <!-- 01_header -->
    <header class="wrap container text-center border d-block mw-100">
        <div class="row justify-content-md-center align-items-center" style="height: 125px;">
            <div class="col-2 logo border">
                <h1>logo</h1>
                <div class="dropdown">consert
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item"><a href="#">festival</a></li>
                        <li class="dropdown-item active"><a href="#" style="color: aliceblue;">consert</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-8 search_bar border">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <div class="col-2 sign d-flex border">
                <div>
                  <a href="#">로그인</a>
                </div>
                <div>
                  <a href="#">회원가입</a>
                </div>
            </div>
        </div>
    </header>

    
      <!-- 02_ sign up input&button -->
      <section class="container border d-block py-5">
        <div class="form-signin w-50">
        <form>
          <h1 class="mb-4 fw-normal text-center">Sign up</h1>
          <div class="form-group mb-3">
            <label class="form-label">아이디</label>
            <div class="input-group">
              <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2" id="userId">
              <button class="btn btn-outline-secondary" type="submit" id="button-addon2">중복확인</button>
            </div>
          </div>
          <div class="form-group mb-3 has-success">
            <label class="form-label">비밀번호</label>
            <input type="password" class="form-control is-valid" id="userPassword">
          </div>
          <div class="form-group mb-3 has-danger">
            <label class="form-label">비밀번호 재확인</label>
            <input type="password" class="form-control is-invalid" id="userPasswordRe">
            <div class="invalid-feedback">비밀번호가 일치하지 않습니다</div>
          </div>
          <div class="form-group mb-3">
            <label class="form-label">이름</label>
            <input type="text" class="form-control" id="userName">
          </div>
          <div class="form-group">
            <label class="form-label">이메일</label>
            <input type="email" class="form-control" id="userEmail">
          </div>
          <div class="bir_wrap">
            <label class="form-label">생년월일</label>
            <div class="bir_yy">
              <span class="ps_box">
                <input type="text" class="form-control" id="userBirth01" placeholder="yyyy" maxlength="4">
              </span>
            </div>
            <div class="bir_mm">
              <span class="ps_box focus">
                <select id="userBirth02" class="form-select">
                  <option>월</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                </select>
              </span>
            </div>
            <div class="bir_dd">
              <span class="ps_box">
                <input type="text" class="form-control" id="userBirth03" placeholder="dd" maxlength="2">
              </span>
            </div>
          </div>
          <div class="phone_wrap">
            <label class="form-label">휴대폰번호</label>
            <div class="phone_01">
              <span class="ps_box">
                <input type="text" class="form-control" id="userPhone01" placeholder="010" maxlength="3">
              </span>
            </div>
            <div class="phone_02">
              <span class="ps_box">
                <input type="text" class="form-control" id="userPhone02"  maxlength="4">
              </span>
            </div>
            <div class="phone_03">
              <span class="ps_box">
                <input type="text" class="form-control" id="userPhone03" maxlength="4">
              </span>
            </div>
          </div>
        <hr>
        <section id="choose_select" class="my-4">
          <h4>※추가 질문</h4>
          <div id="choose_01" class="my-4">
            <h5 style="font-size: 1.2rem; font-weight: bold;">성별</h5>
            <div class="d-inline-flex">
              <div class="form-check py-2">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  남성
                </label>
              </div>
              <div class="form-check py-2 px-5">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  여성
                </label>
              </div>
            </div>
          </div>
          <div id="choose_02" class="my-4">
            <h5 style="font-size: 1.2rem; font-weight: bold;">좋아하는 [콘서트] 장르</h5>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label" for="inlineCheckbox1">J-POP</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label" for="inlineCheckbox2">洋楽</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label" for="inlineCheckbox2">バンド</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label" for="inlineCheckbox2">ロック</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label" for="inlineCheckbox2">バーチャルシンガー</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label" for="inlineCheckbox2">フェス</label>
            </div>
          </div>
          <div id="choose_03" class="my-4">
            <h5 style="font-size: 1.2rem; font-weight: bold;">좋아하는 [전시/행사] 장르</h5>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label" for="inlineCheckbox1">美術</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label" for="inlineCheckbox2">歴史</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label" for="inlineCheckbox2">アニメ</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label" for="inlineCheckbox2">体験</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label" for="inlineCheckbox2">メディア</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label" for="inlineCheckbox2">祭り</label>
            </div>
          </div>
        </section>
        <div class="d-grid gap-2 mx-auto col-6 mt-5">
          <button type="submit" class="d-button btn btn-success">회원가입</button>
        </div>
        </form>
        </div>
      </section>
<footer class="container text-center d-block mw-100 bg-black">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="py-5 text-center">
				Copyright &copy;all right reserved
				</div>			
			</div>
		</div>
	</div>
</footer>
</body>
</html>